In [77]:
#import dependencies and load/read csv
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [198]:
#total number of players and display
player_totals = purchase_data.loc[:, ['Gender','SN','Age']]
player_totals = player_totals.drop_duplicates()
players = player_totals.count()[0]
pd.DataFrame({'Total Players':[players]})

   Total Players
0            576

In [80]:
#number of unique items
purchase_data ['Item Name'].nunique()

179

In [81]:
#average price
round(purchase_data["Price"].mean(),2)

3.05

In [11]:
#number of purchases by unique value
purchase_data['Purchase ID'].nunique()

780

In [18]:
#total revenue
purchase_data['Price'].sum()

2379.77

In [109]:
# basic calculations to obtain totals of unique items, average price, etc.
average_price = purchase_data['Price'].mean()
total_purchase = purchase_data['Price'].sum()
purchase_count = purchase_data['Price'].count()
uniq_items = len(purchase_data['Item ID'].unique())

#create and display data table for totals
item_table = pd.DataFrame({'Number of Purchases':[purchase_count],
                           'Number of Unique Items':[uniq_items],
                           'Average Price':[average_price],
                           'Total Revenue':[total_purchase]})

item_table = item_table.round(2)
item_table['Total Revenue'] = item_table['Total Revenue'].map("${:,.2f}".format)
item_table['Average Price'] = item_table['Average Price'].map("${:,.2f}".format)
item_table

   Number of Purchases  Number of Unique Items Average Price Total Revenue
0                  780                     179         $3.05     $2,379.77

In [138]:
#total/percentage of males
total_gen = purchase_data["Gender"].count()
male = purchase_data["Gender"].value_counts()['Male']
male_percent = male/total_gen * 100

#total/percentage of females
female = purchase_data["Gender"].value_counts()['Female']
female_percent = female/total_gen * 100

#total/percentage of other/non-disclosed

other = purchase_data["Gender"].value_counts()['Other / Non-Disclosed']
other
other_percent = other/total_gen * 100

gender_demo = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [male_percent, female_percent, other_percent],
                                        "Total Count": [male, female, other]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])

#printing data                                        
gender_demo_df = gender_demo.set_index("Gender")
gender_demo_df.style.format({"Percentage of Players": "{:.2f}%"})

In [239]:
# calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gen_pur_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gen_avg = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gen_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

norm_total = gen_pur_total / gender_demo_df['Total Count']

gen_data = pd.DataFrame({"Purchase Count": gen_count, "Average Purchase Price": gen_avg, "Total Purchase Value": gen_pur_total, "Normalized Total": norm_total})
gen_data["Average Purchase Price"] = gen_data["Average Purchase Price"].map("${:,.2f}".format)
gen_data["Total Purchase Value"] = gen_data["Total Purchase Value"].map("${:,.2f}".format)
gen_data["Avg Total per Person"] = gen_data["Normalized Total"].map("${:,.2f}".format)
gen_data = gen_data.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value","Avg Total per Person"]]
gen_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [250]:
#create bins
ages = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,9999]
names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

gender_demo["Age Ranges"] = pd.cut(player_totals["Age"], ages, labels=names)

age_demo_total = gender_demo["Age Ranges"].value_counts()
age_demo_percent = age_demo_total / players
age_demo = pd.DataFrame({"Total Count": age_demo_total, "Percentage of Players": age_demo_percent})
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:,.2%}".format)
age_demo = age_demo.sort_index()
age_demo

       Total Count Percentage of Players
<10              0                 0.00%
10-14            0                 0.00%
15-19            0                 0.00%
20-24            2                 0.35%
25-29            0                 0.00%
30-34            0                 0.00%
35-39            0                 0.00%
40+              1                 0.17%